/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #3f3f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar verticalmente */
}

/* Form */
.form_container {
    position: absolute;
    top: 58%;
    left: 62%;
    width: 25%;
    margin-bottom: 5%;
    padding: 20px;
    transform: translate(-100%, -60%);
    z-index: 5;
    background: #fff;
    border-radius: 12px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin_form:target {
    display: block;
    height: 75%; /* Ajusta el tamaño del formulario de signin */
}

.login_form:target {
    display: block;
    height: 60%; /* Ajusta el tamaño del formulario de login */
}

.signup_form {
    display: none;
}

.form_container.active, .signup_form {
    display: none;
}

.form_container.active, .login_form {
    display: none;
}

.login_form {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Alinear verticalmente */
    justify-content: center; /* Centrar elementos horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.login_form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form_container h2{
    font-size: 22px;
    color: #3f3f3f;
    text-align: center;
}

.input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input_box input {
    height: 100%;
    width: calc(100% - 5px); /* Ajustar el ancho del input */
    border: none;
    outline: none;
    padding: 0 30px;
    color: #3f3f3f;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
    box-sizing: border-box; /* Asegurar que el ancho se mantenga */
}

.input_box .input_field {
    /* Estilos para igualar con los otros campos */
    height: 100%;
    width: calc(100% - 5px);
    border: none;
    outline: none;
    padding: 0 30px;
    color: #3f3f3f;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
    box-sizing: border-box;
}


.input_box .input_field:focus {
    color: #3f3f3f;
}

.input_box .input_field ~ i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    left: 0px;
    color: #707070;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
    color: #3f3f3f;
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input_box i.email,
.input_box i.password {
    left: 0px;
    color: #707070;
}

.username {
    left: 0px;
    color: #707070;
}

.input_box i.pw_hide {
    right: 0;
    font-size: 18px;
    cursor: pointer;
}

.option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_container a {
    color: #333;
    font-size: 12px;
}

.form_container a:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;

}

.checkbox input {
    accent-color: #ffff;
}

.checkbox label {
    font-size: 10px;
    color: #707070;
    user-select: none;
    cursor: pointer;
}

.form_container .button {
    background: #333;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
}

.form_container .signup_button {
    background: #333;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
}

.login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #3f3f3f;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}